# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Uploads
uploads/

# Environment variables
.env

# OS
Thumbs.db
.DS_Store

# Distribution
*.egg-info/
dist/
build/
